<p>dashboard works!</p>
<div class="main-content">
    <div class="header-content employee-header">
      <div class="emp-detail-text">
        Employee Details<br>
        <div class="emp-count">10</div>
      </div>
        <button class="add-button" (click)="onAddUser()"><img src="../assets/pluslogo.jpg" />Add User</button>
    </div>


    <div class="table-main">
      <table id="table-display" class="table">
        <tr>
          <!--Table header-->
          <th>Id</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Department</th>
          <th>Salary</th>
          <th>Actions</th>
         </tr>
      </table>
    </div>
</div>
